* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Klarissa";
  src: url("/assets/Klarissa.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #eaeaea;
  background-color: #252a34;
}

.nav-logo {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  margin-left: 4vh;

  p {
    margin-left: 8px;
    font-family: "Klarissa";
    font-size: 3rem;
    color: #eaeaea;
  }

  img {
    height: 90%;
    width: 60px;
    border-radius: 50%;
  }
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #eaeaea;
  padding-left: 4vh;
}

.nav-misc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  margin-right: 4vh;
  padding: 5px 15px;
  font-size: 1.125rem;
  border: 1.5px solid transparent;
  border-radius: 25px;
  color: #eaeaea;
  background-color: transparent;
  transition: 0.1s ease-out;
}

.nav-button:hover {
  border: 1.5px solid #eaeaea;
}

#signup {
  border: 1.5px solid #eaeaea;
  background-color: #eaeaea;
  cursor: pointer;
  color: #252a34;
}

#signup:hover {
  background-color: #ff2e63;
  color: white;
}

#login {
  cursor: pointer;
}

#github {
  cursor: pointer;
}

#x {
  cursor: pointer;
}

#login:hover {
  background-color: #eaeaea;
  color: #252a34;
}

.hero-section {
  display: flex;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 15vh 0;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

  p {
    font-size: 1.25rem;
  }
}

.hero-text {
  margin: auto;
  width: 60%;
  text-align: center;
  color: #eaeaea;
}

.hero-button {
  padding: 15px 40px;
  font-size: 1.5rem;
  border: 2px solid #c4214a;
  border-radius: 10px;
  box-shadow: 0 8px 0 #72142b;
  background-color: #ff2e63;
  cursor: pointer;
  color: white;
  transition: 0.1s ease;
}

.hero-button:hover {
  transform: translateY(3px);
  box-shadow: 0 5px 0 #72142b;
}

.hero-button:active {
  transform: translateY(8px);
  box-shadow: 0 0 0 #72142b;
}

.content-section {
  border-top: 3px solid #eaeaea;
  background-color: #203a43;
  padding: 10vh 0;
}

.content-box {
  display: flex;
  justify-content: center;
}

.footer {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #eaeaea;
  background-color: #252a34;
}

.footer-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 4vh;

  p {
    margin-left: 8px;
    font-family: "Klarissa";
    font-size: 2rem;
    color: #eaeaea;
  }

  img {
    height: 50%;
    width: 40px;
    border-radius: 50%;
  }
}

.footer-text {
  color: #eaeaea;
  b {
    color: #ff2e63;
  }
}

.footer-icons a {
  margin-right: 4vh;
  font-size: 1.5rem;
  color: #eaeaea;
}

@media screen and (max-width: 830px) {
  .navbar {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-logo {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    margin-left: 0;

    p {
      margin-left: 8px;
      font-family: "Klarissa";
      font-size: 3rem;
      color: #eaeaea;
    }

    img {
      height: 90%;
      width: 60px;
      border-radius: 50%;
    }
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
  }

  .nav-signup {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    padding: 0;
  }

  .nav-misc {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
  }

  .nav-button {
    margin-right: 0;
    padding: 5px 15px;
    font-size: 1rem;
    border: 1.5px solid transparent;
    border-radius: 25px;
    color: #eaeaea;
    background-color: transparent;
    transition: 0.1s ease-out;
  }

  .hero-section {
    font-size: 1.85rem;
    p {
      font-size: 1.05rem;
    }
  }

  .hero-button {
    padding: 12px 36px;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    height: 32vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    justify-content: space-evenly;
    text-decoration: none;
    width: 50%;
    align-items: center;
    margin-left: 2vh;
    margin-top: 4vh;

    p {
      margin-left: 8px;
      font-family: "Klarissa";
      font-size: 2.5rem;
      color: #eaeaea;
    }

    img {
      height: 90%;
      width: 50px;
      border-radius: 50%;
    }
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    width: 40vw;
    align-items: center;
    margin-bottom: 5px;
  }

  .nav-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
  }

  .nav-misc {
    display: none;
  }

  #login {
    border: 2px solid #eaeaea;
  }

  .nav-button {
    margin-right: 0;
    margin-top: 2vh;
    padding: 8px 10px;
    font-size: 1.1rem;
    border: 1.5px solid transparent;
    border-radius: 40px;
    color: #eaeaea;
    background-color: transparent;
    transition: 0.1s ease-out;
  }

  .hero-section {
    font-size: 1.75rem;
    p {
      font-size: 0.95rem;
    }
  }

  .hero-button {
    padding: 12px 36px;
    font-size: 1.25rem;
  }

  .footer {
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-logo {
    display: none;
  }

  .footer-text {
    font-size: 1rem;
    b {
      font-size: 1rem;
    }
  }

  .footer-icons {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
  }

  .footer-icons a {
    margin-right: 0;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  .hero-section {
    font-size: 1.45rem;
    p {
      font-size: 0.85rem;
    }
  }

  #login {
    border: 2px solid #eaeaea;
  }
}

@media screen and (max-width: 430px) {
  .nav-button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .nav-button {
    font-size: 0.8rem;
  }
}
