*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #EAEAEA;
    background-color: #252A34;
}

.nav-logo{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4vh;

    p{
        margin-left: 8px;
        font-family: "Klarissa";
        font-size: 3rem;
        color: #EAEAEA;
    }

    img{
        height: 90%;
        width: 60px;
        border-radius: 50%;
    }
}

.nav-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-signup{
    border-left: 1px solid #EAEAEA;
    padding-left: 4vh;
}

.nav-button{
    margin-right: 4vh;
    padding: 5px 15px;
    font-size: 1.125rem;
    border: 1.5px solid transparent;
    border-radius: 25px;
    color: #EAEAEA;
    background-color: transparent;
    transition: 0.1s ease-out;
}

.nav-button:hover{
    border: 1.5px solid #EAEAEA;
}

#signup{
    border: 1.5px solid #EAEAEA;
    background-color: #EAEAEA;
    color: #252A34;
}

#signup:hover{
    background-color: #FF2E63;
    color: white;
}

#login:hover{
    background-color: #EAEAEA;
    color: #252A34;
}

.hero-section{
    display: flex;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 15vh 0;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

    p{
        font-size: 1.25rem;
    }
}

.hero-text{
    margin: auto;
    width: 60%;
    text-align: center;
    color: #EAEAEA
}

.hero-button{
    padding: 15px 40px;
    font-size: 1.5rem;
    border: 2px solid #c4214a;
    border-radius: 10px;
    box-shadow: 0 8px 0 #72142b ;
    background-color: #FF2E63;
    color: white;
    transition: 0.1s ease;
}

.hero-button:hover{
    transform: translateY(3px);
    box-shadow: 0 5px 0 #72142b;
}

.hero-button:active{
    transform: translateY(8px);
    box-shadow: 0 0 0 #72142b;
}

.content-section{
    border-top: 3px solid #EAEAEA;
    background-color: #203a43;
    padding: 10vh 0;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: centers;
}

.footer{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #EAEAEA;
    background-color: #252A34;
}

.footer-logo{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4vh;

    p{
        margin-left: 8px;
        font-family: "Klarissa";
        font-size: 2rem;
        color: #EAEAEA;
    }

    img{
        height: 50%;
        width: 40px;
        border-radius: 50%;
    }
}

.footer-text{
    color: #EAEAEA;
    b{
        color: #FF2E63;
    }
}

.footer-icons a{
    margin-right: 4vh;
    font-size: 1.5rem;
    color: #EAEAEA;
}